body {
	padding-top: 50px;
	background-color: #eee;
}

h1 {
	text-align: center;
	padding-bottom: 50px;
	font-size: 70px;
	margin-top: -20px;
}

main {
	max-width: 600px;
	margin: auto;
}

input {
	margin-top: 10px;
	margin-bottom: 10px;
}

form > div > div > div {
	font-size: 10px;
	color: red;
	text-align: center;
}

a {
	margin-top: 50px;
}

button {
	margin: auto;
	margin-top: 10px;
	max-width: 600px;
}

select {
	margin-top: 0px;
}

.col-sm-6, .col-sm-12  {
	margin-bottom: 30px;
}

.form-signin .form-control {
	height: auto;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 1;
}