body {
	padding-top: 50px;
	background-color: #eee;
}

main {
	max-width: 275px;
	margin: auto;
}

#error {
	text-align: center;
	color: red;
}

.form-signin .form-control {
	height: auto;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 1;
}

input[name="username"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

input[name="passwd"] {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

button {
	margin-top: 10px;
	margin-bottom: 30px;
}