hr, p {
  margin-bottom: 1.5em
}

article, aside, details, figcaption, figure, footer, header, img, main, nav, section {
  display: block
}

pre, textarea {
  overflow: auto
}

.main-navigation a, a, a:visited, ins, mark {
  text-decoration: none
}

.aligncenter, .clear:after, .comment-content:after, .entry-content:after, .page-links, .site-content:after, .site-footer:after, .site-header:after, h1, h2, h3, h4, h5, h6 {
  clear: both
}

.widget select, .wp-caption, embed, iframe, img, object, pre {
  max-width: 100%
}

a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, iframe, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline
}

small, sub, sup {
  font-size: 75%
}

html {
  font-size: 62.5%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-x: hidden;
  padding-right: 0 !important
}

*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

body {
  background: #fff
}

caption, td, th {
  font-weight: 400;
  text-align: left
}

blockquote:after, blockquote:before, q:after, q:before {
  content: ""
}

blockquote, q {
  quotes: "" ""
}

a:focus {
  outline: dotted thin
}

a:active, a:hover {
  outline: 0
}

a img {
  border: 0
}

.site-title a {
  text-indent: -1000px !important
}

body, button, input, select, textarea {
  color: #6C7A89;
  font-family: Lato;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5
}

b, dt, strong, th {
  font-weight: 700
}

cite, dfn, em, i {
  font-style: italic
}

blockquote {
  margin: 0 1.5em
}

address {
  margin: 0 0 1.5em
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  padding: 1.6em
}

code, kbd, tt, var {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace
}

.menu-toggle:before, .social-sharing a:before {
  font-family: FontAwesome
}

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help
}

ins, mark {
  background: #fff9c0
}

sub, sup {
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sup {
  bottom: 1ex
}

sub {
  top: .5ex
}

big {
  font-size: 125%
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px
}

ol, ul {
  margin: 0 0 1.5em 1.5em
}

ul {
  list-style: circle
}

ol {
  list-style: decimal
}

li>ol, li>ul {
  margin-bottom: 0;
  margin-left: 1.5em
}

dd {
  margin: 0 1.5em 1.5em
}

img {
  height: auto
}

figure {
  margin: 0
}

table {
  border-collapse: separate;
  border-spacing: 0;
  margin: 0 0 1.5em;
  width: 100%
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline
}

button, input[type=button], input[type=reset], input[type=submit] {
  border: 0;
  border-radius: 3px;
  background: 0 0;
  color: rgba(0, 0, 0, .8);
  cursor: pointer;
  -webkit-appearance: button;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1;
  padding: .6em 1em .4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .8)
}

button:hover, input[type=button]:hover, input[type=reset]:hover, input[type=submit]:hover {
  border-color: #ccc #bbb #aaa
}

button:active, button:focus, input[type=button]:active, input[type=button]:focus, input[type=reset]:active, input[type=reset]:focus, input[type=submit]:active, input[type=submit]:focus {
  border-color: #aaa #bbb #bbb;
  outline: 0
}

input[type=checkbox], input[type=radio] {
  padding: 0
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box
}

input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0
}

input[type=search], input[type=text], input[type=email], input[type=url], input[type=password], textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px
}

input[type=search]:focus, input[type=text]:focus, input[type=email]:focus, input[type=url]:focus, input[type=password]:focus, textarea:focus {
  color: #111
}

input[type=search], input[type=text], input[type=email], input[type=url], input[type=password] {
  padding: 3px
}

textarea {
  padding-left: 3px;
  vertical-align: top;
  width: 100%
}

a, a:visited {
  color: #4169e1;
  display: inline-block
}

a:active, a:focus, a:hover {
  color: #191970
}

.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%
}

.main-navigation ul {
  list-style: none;
  margin: 0;
  padding-left: 0
}

.main-navigation li {
  float: left;
  position: relative
}

.main-navigation a {
  display: block;
  width: 100%
}

.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
  float: left;
  position: absolute;
  top: 1.5em;
  left: -999em;
  z-index: 99999
}

.main-navigation ul ul ul {
  left: -999em;
  top: 0
}

.main-navigation ul ul a {
  min-width: 200px
}

.main-navigation ul li:hover>ul {
  left: auto
}

.main-navigation ul ul li:hover>ul {
  left: 100%
}

.menu-toggle {
  display: none
}

.menu-toggle:before {
  content: '\f0c9';
  display: inline-block;
  margin-right: 4px
}

.main-navigation.toggled .menu-toggle:before {
  content: '\f00d'
}

@media screen and (max-width:768px) {
  .main-navigation.toggled .nav-menu, .menu-toggle {
    display: block
  }
  .main-navigation ul {
    display: none;
    max-height: 0
  }
  .main-navigation.toggled ul {
    max-height: 200px
  }
  .main-navigation ul li, .main-navigation ul ul li {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%
  }
  .main-navigation ul ul {
    display: block;
    float: none;
    position: relative;
    top: 0;
    left: 0
  }
}

.site-main .comment-navigation, .site-main .paging-navigation, .site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden
}

.comment-navigation .nav-previous, .paging-navigation .nav-previous, .post-navigation .nav-previous {
  float: left;
  width: 50%
}

.comment-navigation .nav-next, .paging-navigation .nav-next, .post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%
}

.gallery-item, .social-sharing a, .wp-caption-text {
  text-align: center
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden
}

.screen-reader-text:active, .screen-reader-text:focus, .screen-reader-text:hover {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000
}

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em
}

.aligncenter {
  display: block;
  margin: 0 auto
}

.wrapper {
  margin: 0 auto;
  position: relative;
  width: 90%
}

@media screen and (min-width:600px) {
  .wrapper {
    width: 95%
  }
}

.clear:after, .clear:before, .comment-content:after, .comment-content:before, .entry-content:after, .entry-content:before, .site-content:after, .site-content:before, .site-footer:after, .site-footer:before, .site-header:after, .site-header:before {
  content: '';
  display: table
}

.byline, .updated, .widget_search .search-submit, body.admin-bar .edit-link, body.hide-author .byline, body.hide-content .entry-content, body.hide-date .posted-on, body.hide-title .entry-title {
  display: none
}

.widget {
  margin: 0 0 1.5em
}

.widget-area h1 {
  margin-top: 0
}

.hentry {
  margin: 0 0 1.5em
}

.group-blog .byline, .single .byline {
  display: inline
}

.archive .format-aside .entry-title, .blog .format-aside .entry-title, .form-allowed-tags {
  display: none
}

.entry-content, .entry-summary, .page-content {
  margin: 1.5em 0 0
}

.page-links {
  margin: 0 0 1.5em
}

.comment-content a {
  word-wrap: break-word
}

.social-sharing {
  list-style: none;
  margin: 0;
  padding: 0
}

.social-sharing li {
  display: inline-block;
  vertical-align: top
}

.social-sharing a {
  display: block;
  height: 28px;
  overflow: hidden;
  position: relative;
  width: 21px
}

.social-sharing a:before {
  content: "\f415";
  display: inline-block;
  font-size: 1.5em
}

.social-sharing a[href$="/feed/"]:before {
  content: "\f09e"
}

.social-sharing a[href*="codepen.io"]:before {
  content: "\f1cb"
}

.social-sharing a[href*="digg.com"]:before {
  content: "\f1a6"
}

.social-sharing a[href*="dribbble.com"]:before {
  content: "\f17d"
}

.social-sharing a[href*="dropbox.com"]:before {
  content: "\f16b"
}

.social-sharing a[href*="facebook.com"]:before {
  content: "\f09a"
}

.social-sharing a[href*="flickr.com"]:before {
  content: "\f16e"
}

.social-sharing a[href*="foursquare.com"]:before {
  content: "\f180"
}

.social-sharing a[href*="plus.google.com"]:before {
  content: "\f0d5"
}

.social-sharing a[href*="github.com"]:before {
  content: "\f09b"
}

.social-sharing a[href*="instagram.com"]:before {
  content: "\f16d"
}

.social-sharing a[href*="linkedin.com"]:before {
  content: "\f0e1"
}

.social-sharing a[href*="pinterest.com"]:before {
  content: "\f0d2"
}

.social-sharing a[href*="getpocket.com"]:before {
  content: "\f224"
}

.social-sharing a[href*="polldaddy.com"]:before {
  content: "\f217"
}

.social-sharing a[href*="reddit.com"]:before {
  content: "\f1a1"
}

.social-sharing a[href*="stumbleupon.com"]:before {
  content: "\f1a4"
}

.social-sharing a[href*="tumblr.com"]:before {
  content: "\f173"
}

.social-sharing a[href*="twitter.com"]:before {
  content: "\f099"
}

.social-sharing a[href*="vimeo.com"]:before {
  content: "\f194"
}

.social-sharing a[href*="wordpress.com"]:before, .social-sharing a[href*="wordpress.org"]:before {
  content: "\f19a"
}

.social-sharing a[href*="youtube.com"]:before {
  content: "\f16a"
}

.social-sharing a[href*="mailto:"]:before {
  content: "\f1d8"
}

.social-sharing a[href*="spotify.com"]:before {
  content: "\f1bc"
}

.social-sharing a[href*="twitch.tv"]:before {
  content: "\f1e8"
}

.infinite-scroll .paging-navigation, .infinite-scroll.neverending .site-footer {
  display: none
}

.infinity-end.neverending .site-footer {
  display: block
}

.comment-content img.wp-smiley, .entry-content img.wp-smiley, .page-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0
}

.wp-caption {
  margin-bottom: 1.5em
}

.wp-caption img[class*=wp-image-] {
  display: block;
  margin: 0 auto
}

.wp-caption .wp-caption-text {
  margin: .8075em 0
}

.gallery {
  margin-bottom: 1.5em
}

.gallery-item {
  display: inline-block;
  vertical-align: top;
  width: 100%
}

.gallery-columns-2 .gallery-item {
  max-width: 50%
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%
}

.gallery-columns-4 .gallery-item {
  max-width: 25%
}

.gallery-columns-5 .gallery-item {
  max-width: 20%
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%
}

.nivo-lightbox-theme-default .nivo-lightbox-close {
  width: 35px;
  height: 35px
}

.nivo-lightbox-theme-default .nivo-lightbox-title {
  display: none
}

.nivo-lightbox-image img {
  display: inline-block
}
